*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    font-family: Arial, Helvetica, sans-serif;
}
.testata{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    margin: 1rem auto;
    height: 2rem;
}
.testata-sinistra{
    display: flex;
    align-items: center;
}
img{
    width: 2rem;
}
button{
    padding:  0.2rem 1rem;
    background-color: white;
    
}
main{
    background-color: blue;
    padding: 1rem;
}
.border{
    border: 1px solid white;
}
#container{
    margin:2rem auto;
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}
.miniBox100{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    border: 1px solid white;
}
.bgNuovo{
    background-color: coral;
}
.containerFooter{
    width: 1000px;
    margin: 1rem auto;
}